## Arquivos e pastas do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Pastas de compilação
bin/
obj/
Debug/
Release/

## Cache e temporários
*.log
*.tmp
*.bak

## Outras pastas geradas automaticamente
TestResults/
.idea/
.vscode/

~$*